<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cadastrar Pessoas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" name="nome" [(ngModel)]="data.nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input type="text" name="email" [(ngModel)]="data.email"></ion-input>
          </ion-item>
        
        <ion-button full (click)="submit()">Cadastrar</ion-button>
        </ion-list>
</ion-content>
